canvas {
    height: auto;
    width: 256px;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.top {
    position: sticky;
    background-color: white;
    top: 0;
    z-index: 1;
}

.hr {
    position: sticky;
    top: 255px;
    z-index: 2;
}
